.price{
    color: #323650 !important;
    font-size: 1.2em;
    font-weight: 700;
    
  }
.active{
    background: -webkit-linear-gradient(#8262d2, #e155b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    letter-spacing: 2px;
} 
col-12{
    padding: 0 !important;
} 

*{
    margin: 0 ;
    padding: 0 ;

}
.container{
    padding: 0 !important;
}
body{
    font-family: Arial, Helvetica, sans-serif !important;
    color: white !important;
    background: linear-gradient(45deg, #8262d2, #e155b0) !important;
}
body, nav{
   font-family: 'Times New Roman', Times, serif !important;
}
main h1{
    font-size: 36px;
    text-align: center;
    font-weight: 700 !important;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 30px auto;
    border-radius: 30px;
    padding: 10px;
    background-color: #636a99;
    width: 90%;
}
main h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 700 !important;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 30px auto;
    border-radius: 30px;
    padding: 10px;
    background-color: #636a99;
    width: 90%;
}

.meu-wpp h3{
    font-size: 30px;
    text-align: center;
    font-weight: 700 !important;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 30px auto;
    border-radius: 30px;
    padding: 10px;
    background-color: #636a99;
    width: 90%;
    margin-bottom: 80px;
}
.meu-wpp .coldstore{
   transform: skewX(-25deg);
}

h1 i{
    background: -webkit-linear-gradient(#8262d2, #e155b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav{
    margin-top: 10px;
    border-radius: 50px;
    background-color: #0d1331 !important;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}
nav ul li a{
    color: white !important;
}
nav .navbar-toggler {
    background: linear-gradient(45deg, #8262d2, #e155b0) !important;
}
nav .navbar-brand{
    color: white !important;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}
/*CONFIGURAÇÃO DESTAQUE CARD */
.card-destaque, .card-simples{
    margin: 0 auto;
    background-color: #323650 !important;
    font-family: 'Times New Roman', Times, serif !important;
    border-radius: 30px;
    margin-bottom: 70px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.card-title-destaque, .card-title-simples{
    background: linear-gradient(45deg, #8262d2, #55a2e1) !important;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 30px;
    font-weight: 700;
    font-size: 25px;
    margin-top: 5px;
    color: rgb(227, 230, 236);
}
.carousel-inner{
    border-radius: 30px;
}
.carousel-item img{
    height: 400px !important;
}
.card-destaque p, .card-simples p{
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    color: #d1c8e7;
}
.list-group-item-destaque, .list-group-item-simples{
    background: linear-gradient(45deg, #8262d2, #e155b0) !important;
    margin: 3px;
    font-weight: 400 !important;
    color: rgb(221, 206, 206);
    border-radius: 30px !important;
    font-size: 1.2em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-text-destaque::before{
    content: '';
    width: 8%;
    height: 3px;
    position: absolute;
    left: 4%;
    background: linear-gradient(45deg, #8262d2, #e155b0) !important;

}

.card-body a i{
    font-size: 40px;
    padding: 0 2px;
}
.card-body a .fa-facebook{
    color: #3b5998 !important;
}
.card-body a .fa-whatsapp{
    color: #25d366 !important;
}
.card-body a .fa-instagram{
    color: #c32aa3 !important;
}


/*--------------------*/
/*Simple container */
.img-simple{
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 30px;
}
.container{
    
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 0;
}



/*footer*/
footer{
   
    width: 100%;
    
    background-color: #0d1331 !important;
    color: rgb(252, 252, 252);
    text-align: center;
   
    letter-spacing: 1px;
    border-top: 2px solid #e155b0!important;
    border-bottom: 2px solid  #e155b0;;
    margin-top: auto;
  }

  footer a:link{
    text-decoration: none;
    border-color: #e155b0;
  }
  a:visited {
    color:#5398f1;
    text-decoration:none;
  }
  
   footer a:hover{
      color:#e155b0;
      text-decoration:none;
  
  }

  @media (min-width: 576px) {  }

/*Medium devices */
  @media (min-width: 768px) {  }
  
/*Large devices*/ 
  @media (min-width: 992px) {
   
    }
  
/*Extra large devices*/
@media (min-width: 1200px) {
    .card-container{
        display: flex;
      
    }
    .card{
        margin-top: 0;
    }
    }  