.green{
  color: rgb(28, 179, 28);
}

*{
    margin: 0;
    padding: 0;

}


body{

  font-family: Arial, Helvetica, sans-serif !important;
  color: white !important;
  background: linear-gradient(45deg, #8262d2, #e155b0) !important;

}
body, nav{
   
  font-family: 'Times New Roman', Times, serif !important;

}
/*loader */

@keyframes loader{
  0%{

  }
  100%{
      transform: translateY(-2000px);
    
  }
}

nav{
  margin-top: 10px;
  border-radius: 50px;
  background-color: #0d1331 !important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}
nav ul li a{
  color: white !important;
}
nav ul li a:hover{
  color: #8262d2 !important;
}
nav .navbar-toggler {
  background: linear-gradient(45deg, #8262d2, #e155b0) !important;
}
nav .navbar-brand{
  color: white !important;
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
}
.carousel-item{
 
}
main h2{
   
  font-size: 28px;
  font-weight: 700 !important;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin: 30px auto;
  border-radius: 30px;
  padding: 10px;
  background-color: #636a99;
  width: 90%;
}

main h3{
  
    font-size: 22px;
    font-weight: 700 !important;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 30px auto;
    border-radius: 30px;
    padding: 10px;
    background-color: #0d1331;
    width: 90%; 
}

h2 i{
  color: #f3a81e !important;
   
}

.container{
    
    align-items: center;
    text-align: center;
    justify-content: center;
}

.carousel-container{
   max-width: 800px;
    
    margin: auto;
   margin-bottom: 50px;
}
.carousel-item img{
    height: 400px !important;
    margin-bottom: 20px;
}
.ver-mais {
	box-shadow: 0px 10px 14px -7px #e155b0;
	background:linear-gradient(to bottom, #0d1331 5%, #0d1331 100%);
	background-color:#636a99;
	border-radius:4px;
	border:1px solid #e155b0;
	display:inline-block;
	cursor:pointer;
  color: white !important;
	font-family:Arial;
	font-size:20px !important;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
  text-shadow:0px 1px 0px #e155b0;
  border-radius: 30px;
}
.ver-mais:hover {
	background:linear-gradient(to bottom, #0d1331 5%, #0d1331 100%);
  background-color:#0d1331;
  text-decoration: none;
  color: #e155b0!important;
 
}
.ver-mais:active {
	position:relative;
	top:1px;
}

.background{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: -50px;
}
.building-background{
 height: 100px;
  
}
.building-background2{
 height: 100px;
}
/* Carousel arrow */



/*footer*/
footer{
   
    width: 100%;
    
    background-color: #0d1331 !important;
    color: rgb(252, 252, 252);
    text-align: center;
   
    letter-spacing: 1px;
    border-top: 2px solid #e155b0!important;
    border-bottom: 2px solid  #e155b0;;
    margin-top: auto;
  }

  footer a:link{
    text-decoration: none;
    border-color: #e155b0;
  }
  a:visited {
    color:#5398f1;
    text-decoration:none;
  }
  
   footer a:hover{
      color:#e155b0;
      text-decoration:none;
  
  }


  @media (max-width: 319px){
    .background{
      
      justify-content: space-between;
     
    }
    .building-background{
     height: 100px;
    
    }
    .building-background2{
      height: 100px;

    }
   
  }
  @media (min-width: 320px) and (max-width: 439px){
    .building-background{
      height: 120px;
     
     }
     .building-background2{
       height: 120px;
 
     }
  }
  
  @media (min-width: 440px) and (max-width: 575px) {
    .background{
      margin-top: -120;
    }
    
    .building-background{
      height: 200px;
     
     }
     .building-background2{
       height: 200px;
 
     }
     
  
  }
  @media (min-width: 576px) and (max-width: 767px) {  
    .background{
      margin-top: -140;
    }
    .building-background{
      height: 270px;
     
     }
     .building-background2{
       height: 270px;
 
     }
     main .ver-mais{
      font-size: 32px;
     
  }

  
  
  }
 
/*Medium devices */
  @media (min-width: 768px) {
    .background{
      
      justify-content: space-between;
      margin-top: -80;
    }
    main .ver-mais{
      font-size: 40px;
     
  }
    .building-background{
      height: 300px;
    
    }
    .building-background2{
    
      height: 300px;
     
    }
    }
  
/*Large devices*/ 
  @media (min-width: 992px) {
    .background{
      
      justify-content: space-between;
      margin-top: -50;
    }
    .building-background{
      height: 450px;
    
    }
    .building-background2{
    
      height: 450px;
     
    }
    main .ver-mais{
      font-size: 50px;
     
  }
  }
  
  
/*Extra large devices*/
@media (min-width: 1200px) {
    .card-container{
        display: flex;
      
    }
    .card{
        margin-top: 0;
    }
    .building-background{
      height: 500px;
    
    }
    .building-background2{
    
      height: 500px;
     
    }
   
    }  